
/* OUR PORTFOLIO */


.list-portfolio{
flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;}

.item-portfolio {
width: calc((100% - 48px) / 3);
}





/* FOOTER */


.footer {
background-color: var(--background-color);
padding: 100px 0;}

.box-footer{display: flex;
align-items: baseline;}

.logo.logo-down{margin-bottom: 16px;
margin-right: 0;
display: inline-block;}

.box-text-footer {margin-right: 120px;
width: 264px;}

.logo-footer {color: #f4f4fd;}

.text.text-footer {color: #f4f4fd;}

.box-media{max-width:208px;
margin-right: 80px;}

.text-media {font-weight: 500;
line-height: 1.5;
color: #ffffff;
margin-bottom:16px;}

.list-social-footer{display: flex;
gap: 16px;}

.item-social .link-social-footer{display: flex;
background-color: var(--primary-brand);
border-radius: 50%;
width: 40px;
height: 40px;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.item-social .link-social-footer:hover,
.item-social .link-social-footer:focus{
background-color: #31D0AA;}

.icon-footer{fill: #F4F4FD;}

.box-sub{margin-left: auto;}

.text-sub{font-weight: 500;
line-height: 1.5;
color: #ffffff;
margin-bottom: 16px;}


/* .form-footer */



.form-footer{
display: flex;
gap: 24px;}

.label-footer{}

.input-footer{background-color: transparent;
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
padding: 8px 16px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);}

.input-footer::placeholder{
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
color:#ffffff;}

.input-footer:hover,
.input-footerr:focus {outline: 2px solid #31D0AA;
border: none;}

.btn-footer{border-radius: 4px;
min-width: 165px;
height: 40px;
background-color: var(--primary-brand);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #ffffff;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-left: 24px;
display: flex;
align-items: center;
justify-content: center;}

.btn-footer:hover,
.btn-footer:focus {background-color:#31D0AA;}

.icon-sub-footer{fill: #ffffff;
margin-left: 16px;}

