

/* SECTION ADVANDAGES */


.list-advandages{display: flex;
gap: 24px;}

.item-advandages{width: calc((100% - 72px) / 4);}



.title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color:var(--title-color);
margin-bottom: 8px;}

.text{line-height: 1.5;
color:var(--text-color);
font-weight:400;}


/* OUR TEAM */


.section-team{background-color:#f4f4fd;}

.list-team{display: flex;
gap: 24px;}

.item-team{
width: calc((100% - 96px) / 4);
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #ffffff;}

.item-team {width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;}

.title-name{text-align: center;}

.text-name{text-align: center;
margin-bottom: 8px;}

.list-social{display: flex;
gap: 24px;
justify-content: center;}

.item-social{width: 40px;
height: 40px;}

.icon-team{fill: #F4F4FD;}

.item-social .link-social{
background-color: var(--primary-brand);
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.item-social .link-social:hover,
.item-social .link-social:focus{background-color: var(--active-ocean);}

.title-first{font-size: 36px;
line-height: 1.1;
color: var(--title-color);
text-align: center;
margin-bottom: 72px;}

.box-name{padding: 32px 0px;}


/* OUR PORTFOLIO */


.list-portfolio{display: flex;
flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;}

.item-portfolio {
width: calc((100% - 48px) / 3);
transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.item-portfolio:hover,
.item-portfolio:focus{box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);}

.tumba{position: relative;
overflow: hidden;
line-height: 1.5;
color: #f4f4fd;}


.text-portfolio{position: absolute;
top: 0;
width: 100%;
height: 100%;
padding: 40px 32px;
color: #f4f4fd;
transform: translate(-50%, 100%);
background-color: var(--primary-brand);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}



.item-portfolio:hover .text-portfolio,
.item-portfolio:focus .text-portfolio
{transform: translateY(0%);}

.box-app{padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;}



/* FOOTER */


.footer {
background-color: var(--background-color);
padding: 100px 0;}

.box-footer{display: flex;
align-items: baseline;}

.logo.logo-down{margin-bottom: 16px;
margin-right: 0;
display: inline-block;}

.box-text-footer {margin-right: 120px;
width: 264px;}

.logo-footer {color: #f4f4fd;}

.text.text-footer {color: #f4f4fd;}

.box-media{max-width:208px;
margin-right: 80px;}

.text-media {font-weight: 500;
line-height: 1.5;
color: #ffffff;
margin-bottom:16px;}

.list-social-footer{display: flex;
gap: 16px;}

.item-social .link-social-footer{display: flex;
background-color: var(--primary-brand);
border-radius: 50%;
width: 40px;
height: 40px;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.item-social .link-social-footer:hover,
.item-social .link-social-footer:focus{
background-color: #31D0AA;}

.icon-footer{fill: #F4F4FD;}

.box-sub{margin-left: auto;}

.text-sub{font-weight: 500;
line-height: 1.5;
color: #ffffff;
margin-bottom: 16px;}


/* .form-footer */



.form-footer{
display: flex;
gap: 24px;}

.label-footer{}

.input-footer{background-color: transparent;
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
padding: 8px 16px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);}

.input-footer::placeholder{
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
color:#ffffff;}

.input-footer:hover,
.input-footerr:focus {outline: 2px solid #31D0AA;
border: none;}

.btn-footer{border-radius: 4px;
min-width: 165px;
height: 40px;
background-color: var(--primary-brand);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #ffffff;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-left: 24px;
display: flex;
align-items: center;
justify-content: center;}

.btn-footer:hover,
.btn-footer:focus {background-color:#31D0AA;}

.icon-sub-footer{fill: #ffffff;
margin-left: 16px;}

